@import url("./style.css");

/* equivalent to theme-alt + theme-wide stylesheets for dashboard theme */
:root {
    --theme-background: var(--theme-background-b);
    --theme-background-alt: var(--theme-background-a);
}

.intro p {
    min-width: 100%;
}

.scrubber-label {
    font-weight: bold;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.scrubber-form {
    display: flex;
    align-items: center;
    height: 33px;
}

.play-pause-button {
    padding: 0;
    margin-right: 0.5em;
    width: 3em;
}

#label {
    display: flex;
    align-items: center;
}

#input {
    width: 200px;
}

#output {
    margin-left: 0.4em;
}
