@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");
@import url("observablehq:theme-near-midnight.css") all and
    (prefers-color-scheme: dark);

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("https://bansallab.github.io/data-dashboard/font/roboto-v47-latin-regular.woff2")
        format("woff2");
}

:root * {
    font-family: "Roboto", var(--serif);
}
